<%- include('partials/header') -%>

    <main class="navBar">
		<nav class="mytabs">

                <!--**********DAILY TAKS************-->
                <input type="radio" id="tasksTab" name="mytabs" checked="checked">
                <label for="tasksTab">Tasks</label>
                <section class="tab">
                    <h2>Daily Tasks</h2>
                    <!--********TRACKER*************-->
                    <main id="clear">
                        <button id="clearTasks">Clear Tasks</button>
                    </main>
                    <!-- <main id="taskProgressMain">
                        <label for="file" id="taskProgressLabel">Task Progress:</label>
                        <span id="taskPercent">0%</span>
                        <progress id="taskProgress" max="12" value="0"> 0% </progress>
                    </main> -->
                    <main id="taskmain1">
                        <% for (var i = 0; i < tasks.length; i++) {%>
                            <div id="<%= tasks[i].id %>" class="<%= (user.completedDivs.includes(tasks[i].id) ? 'true' : 'false')  %>">
                                <img src="<%= tasks[i].img %>" class="images" name="<%= tasks[i].title %>">
                                <h4><%= tasks[i].title %></h4>
                            </div>
                        <% } %>
                    </main>
                </section>

                <!--**********MUSIC************-->
                <input type="radio" id="musicTab" name="mytabs">
                <label for="musicTab">Music</label>
                <section class="tab">
                    <h2>K.K. Slider Music</h2>
                    <main id="musicMain1">
                        <% for (var i = 0; i < music.length; i++) {%>
                            <div id="<%= music[i].id %>" class="<%= (user.completedDivs.includes(music[i].id) ? 'true' : 'false')  %>">
                                <img src="<%= music[i].img %>" class="images" name="<%= music[i].title %>">
                                <h4><%= music[i].title %></h4>
                            </div>
                        <% } %>
                    </main>
                </section>

                <!--**********GYROIDS************-->
                <input type="radio" id="gyroidsTab" name="mytabs">
                <label for="gyroidsTab">Gyroids</label>
                <section class="tab">
                    <h2>Gyroids</h2>
                    <main id="gyroidMain1">
                        <% for (var i = 0; i < gyroids.length; i++) {%>
                            <div id="<%= gyroids[i].id %>" class="<%= (user.completedDivs.includes(gyroids[i].id) ? 'true' : 'false')  %>">
                                <img src="<%= gyroids[i].img %>" class="images" name="<%= gyroids[i].title %>">
                                <h4><%= gyroids[i].title %></h4>
                            </div>
                        <% } %>
                    </main>
                </section>

                <!--**********FOSSILS************-->
                <input type="radio" id="fossilsTab" name="mytabs">
                <label for="fossilsTab">Fossils</label>
                <section class="tab">
                    <h2>Fossils</h2>
                    <main id="fossilMain1">
                        <% for (var i = 0; i < fossils.length; i++) {%>
                            <div id="<%= fossils[i].id %>" class="<%= (user.completedDivs.includes(fossils[i].id) ? 'true' : 'false')  %>">
                                <img src="<%= fossils[i].img %>" class="images" name="<%= fossils[i].title %>">
                                <h4><%= fossils[i].title %></h4>
                            </div>
                        <% } %>
                    </main>
                </section>

                <!--**********ART************-->
                <input type="radio" id="artTab" name="mytabs">
                <label for="artTab">Art</label>
                <section class="tab">
                    <h2>Art</h2>
                    <main id="artMain1">
                        <% for (var i = 0; i < art.length; i++) {%>
                            <div id="<%= art[i].id %>" class="<%= (user.completedDivs.includes(art[i].id) ? 'true' : 'false')  %>">
                                <img src="<%= art[i].img %>" class="images" name="<%= art[i].title %>">
                                <h4><%= art[i].title %></h4>
                            </div>
                        <% } %>
                    </main>
                </section>

                <!--**********UMBRELLAS************-->
                <input type="radio" id="umbrellasTab" name="mytabs">
                <label for="umbrellasTab">Umbrellas</label>
                <section class="tab">
                    <h2>Umbrellas</h2>
                    <main id="UmbrellasMain1">
                        <% for (var i = 0; i < umbrellas.length; i++) {%>
                            <div id="<%= umbrellas[i].id %>" class="<%= (user.completedDivs.includes(umbrellas[i].id) ? 'true' : 'false')  %>">
                                <img src="<%= umbrellas[i].img %>" class="images" name="<%= umbrellas[i].title %>">
                                <h4><%= umbrellas[i].title %></h4>
                            </div>
                        <% } %>
                    </main>
                </section>

                <!--**********Insects************-->
                <input type="radio" id="insectsTab" name="mytabs">
                <label for="insectsTab">Insects</label>
                <section class="tab">
                    <h2>Insects</h2>
                    <main id="InsectsMain1">
                        <span>Coming Soon!</span>
                    </main>
                </section>

                <!--**********Sea Creatures************-->
                <input type="radio" id="seaCreaturesTab" name="mytabs">
                <label for="seaCreaturesTab">Sea Creatures</label>
                <section class="tab">
                    <h2>Sea Creatures</h2>
                    <main id="SeaCreaturesMain1">
                        <span>Coming Soon!</span>
                    </main>
                </section>

                <!--**********Clothing************-->
                <input type="radio" id="clothingTab" name="mytabs">
                <label for="clothingTab">Clothing</label>
                <section class="tab">
                    <h2>Clothing</h2>
                    <main id="ClothingMain1">
                        <span>Coming Soon!</span>
                    </main>
                </section>

                <!--**********Tools************-->
                <input type="radio" id="toolsTab" name="mytabs">
                <label for="toolsTab">Tools</label>
                <section class="tab">
                    <h2>Tools</h2>
                    <main id="ToolsMain1">
                        <span>Coming Soon!</span>
                    </main>
                </section>
		</nav>
    </main>
<%- include('partials/footer') -%>