<%- include('partials/header') -%>

    <main class="navBar">
		<nav class="mytabs">

                <!--**********DAILY TAKS************-->
                <input type="radio" id="tasksTab" name="mytabs" checked="checked">
                <label for="tasksTab">Tasks</label>
                <section class="tab">
                    <h2>Daily Tasks</h2>
                    <!--********TRACKER*************-->
                    <main id="clear">
                        <button id="clearTasks">Clear Tasks</button>
                    </main>
                    <main class="progressMain" id="taskProgressMain">
                        <label for="file" class="progressLabel">Progress: <span id="taskPercent"></span> /12</label>
                        <progress id="taskProgress" max="12" value="0"></progress>
                    </main>
                    <main id="taskmain1">
                        <% for (var i = 0; i < tasks.length; i++) {%>
                            <div id="<%= tasks[i].id %>" class="<%= (user.completedDivs.includes(tasks[i].id) ? 'true' : 'false')  %>">
                                <img src="<%= tasks[i].img %>" class="images" name="<%= tasks[i].title %>">
                                <h4><%= tasks[i].title %></h4>
                            </div>
                        <% } %>
                    </main>
                </section>

                <!--**********MUSIC************-->
                <input type="radio" id="musicTab" name="mytabs">
                <label for="musicTab">Music</label>
                <section class="tab">
                    <h2>K.K. Slider Music</h2>
                    <main class="progressMain" id="musicProgressMain">
                        <label for="file" class="progressLabel">Progress: <span id="musicPercent"></span> /107</label>
                        <progress id="musicProgress" max="107" value="0"></progress>
                    </main>
                    <main id="musicMain1">
                        <% for (var i = 0; i < music.length; i++) {%>
                            <div id="<%= music[i].id %>" class="<%= (user.completedDivs.includes(music[i].id) ? 'true' : 'false')  %>">
                                <img src="<%= music[i].img %>" class="images" name="<%= music[i].title %>">
                                <h4><%= music[i].title %></h4>
                            </div>
                        <% } %>
                    </main>
                </section>

                <!--**********GYROIDS************-->
                <input type="radio" id="gyroidsTab" name="mytabs">
                <label for="gyroidsTab">Gyroids</label>
                <section class="tab">
                    <h2>Gyroids</h2>
                    <main class="progressMain" id="gyroidProgressMain">
                        <label for="file" class="progressLabel">Progress: <span id="gyroidPercent"></span> /36</label>
                        <progress id="gyroidProgress" max="36" value="0"></progress>
                    </main>
                    <main id="gyroidMain1">
                        <% for (var i = 0; i < gyroids.length; i++) {%>
                            <div id="<%= gyroids[i].id %>" class="<%= (user.completedDivs.includes(gyroids[i].id) ? 'true' : 'false')  %>">
                                <img src="<%= gyroids[i].img %>" class="images" name="<%= gyroids[i].title %>">
                                <h4><%= gyroids[i].title %></h4>
                            </div>
                        <% } %>
                    </main>
                </section>

                <!--**********FOSSILS************-->
                <input type="radio" id="fossilsTab" name="mytabs">
                <label for="fossilsTab">Fossils</label>
                <section class="tab">
                    <h2>Fossils</h2>
                    <main class="progressMain" id="fossilProgressMain">
                        <label for="file" class="progressLabel">Progress: <span id="fossilPercent"></span> /73</label>
                        <progress id="fossilProgress" max="73" value="0"></progress>
                    </main>
                    <main id="fossilMain1">
                        <% for (var i = 0; i < fossils.length; i++) {%>
                            <div id="<%= fossils[i].id %>" class="<%= (user.completedDivs.includes(fossils[i].id) ? 'true' : 'false')  %>">
                                <img src="<%= fossils[i].img %>" class="images" name="<%= fossils[i].title %>">
                                <h4><%= fossils[i].title %></h4>
                            </div>
                        <% } %>
                    </main>
                </section>

                <!--**********ART************-->
                <input type="radio" id="artTab" name="mytabs">
                <label for="artTab">Art</label>
                <section class="tab">
                    <h2>Art</h2>
                    <main class="progressMain" id="artProgressMain">
                        <label for="file" class="progressLabel">Progress: <span id="artPercent"></span> /43</label>
                        <progress id="artProgress" max="43" value="0"></progress>
                    </main>
                    <main id="artMain1">
                        <% for (var i = 0; i < art.length; i++) {%>
                            <div id="<%= art[i].id %>" class="<%= (user.completedDivs.includes(art[i].id) ? 'true' : 'false')  %>">
                                <img src="<%= art[i].img %>" class="images" name="<%= art[i].title %>">
                                <h4><%= art[i].title %></h4>
                            </div>
                        <% } %>
                    </main>
                </section>

                <!--**********UMBRELLAS************-->
                <input type="radio" id="umbrellasTab" name="mytabs">
                <label for="umbrellasTab">Umbrellas</label>
                <section class="tab">
                    <h2>Umbrellas</h2>
                    <main class="progressMain" id="umbrellaProgressMain">
                        <label for="file" class="progressLabel">Progress: <span id="umbrellaPercent"></span> /68</label>
                        <progress id="umbrellaProgress" max="68" value="0"></progress>
                    </main>
                    <main id="UmbrellasMain1">
                        <% for (var i = 0; i < umbrellas.length; i++) {%>
                            <div id="<%= umbrellas[i].id %>" class="<%= (user.completedDivs.includes(umbrellas[i].id) ? 'true' : 'false')  %>">
                                <img src="<%= umbrellas[i].img %>" class="images" name="<%= umbrellas[i].title %>">
                                <h4><%= umbrellas[i].title %></h4>
                            </div>
                        <% } %>
                    </main>
                </section>

                <!--**********Insects************-->
                <input type="radio" id="insectsTab" name="mytabs">
                <label for="insectsTab">Insects</label>
                <section class="tab">
                    <h2>Insects</h2>
                    <main class="progressMain" id="insectsProgressMain">
                        <label for="file" class="progressLabel">Progress: <span id="insectsPercent"></span> /80</label>
                        <progress id="insectsProgress" max="80" value="0"></progress>
                    </main>
                    <main id="InsectsMain1">
                        <% for (var i = 0; i < insects.length; i++) {%>
                            <div id="<%= insects[i].id %>" class="<%= (user.completedDivs.includes(insects[i].id) ? 'true' : 'false')  %>">
                                <img src="<%= insects[i].img %>" class="images" name="<%= insects[i].title %>">
                                <h4><%= insects[i].title %></h4>
                            </div>
                        <% } %>
                    </main>
                </section>

                <!--**********Fish************-->
                <input type="radio" id="fishTab" name="mytabs">
                <label for="fishTab">Fish</label>
                <section class="tab">
                    <h2>Fish</h2>
                    <main class="progressMain" id="fishProgressMain">
                        <label for="file" class="progressLabel">Progress: <span id="fishPercent"></span> /80</label>
                        <progress id="fishProgress" max="80" value="0"></progress>
                    </main>
                    <main id="FishMain1">
                        <% for (var i = 0; i < fish.length; i++) {%>
                            <div id="<%= fish[i].id %>" class="<%= (user.completedDivs.includes(fish[i].id) ? 'true' : 'false')  %>">
                                <img src="<%= fish[i].img %>" class="images" name="<%= fish[i].title %>">
                                <h4><%= fish[i].title %></h4>
                            </div>
                        <% } %>
                    </main>
                </section>

                <!--**********Sea Creatures************-->
                <input type="radio" id="seaCreaturesTab" name="mytabs">
                <label for="seaCreaturesTab">Sea Creatures</label>
                <section class="tab">
                    <h2>Sea Creatures</h2>
                    <main class="progressMain" id="seaCreaturesProgressMain">
                        <label for="file" class="progressLabel">Progress: <span id="seaCreaturesPercent"></span> /40</label>
                        <progress id="seaCreaturesProgress" max="40" value="0"></progress>
                    </main>
                    <main id="SeaCreaturesMain1">
                        <% for (var i = 0; i < seaCreatures.length; i++) {%>
                            <div id="<%= seaCreatures[i].id %>" class="<%= (user.completedDivs.includes(seaCreatures[i].id) ? 'true' : 'false')  %>">
                                <img src="<%= seaCreatures[i].img %>" class="images" name="<%= seaCreatures[i].title %>">
                                <h4><%= seaCreatures[i].title %></h4>
                            </div>
                        <% } %>
                    </main>
                </section>

                <!--**********Tools************-->
                <input type="radio" id="toolsTab" name="mytabs">
                <label for="toolsTab">Tools</label>
                <section class="tab">
                    <h2>Tools</h2>
                    <main class="progressMain" id="toolsProgressMain">
                        <label for="file" class="progressLabel">Progress: <span id="toolsPercent"></span> /6</label>
                        <progress id="toolsProgress" max="6" value="0"></progress>
                    </main>
                    <main id="ToolsMain1">
                        <% for (var i = 0; i < tools.length; i++) {%>
                            <div id="<%= tools[i].id %>" class="<%= (user.completedDivs.includes(tools[i].id) ? 'true' : 'false')  %>">
                                <img src="<%= tools[i].img %>" class="images" name="<%= tools[i].title %>">
                                <h4><%= tools[i].title %></h4>
                            </div>
                        <% } %>
                    </main>
                </section>
                
                <!--**********Clothing************-->
                <input type="radio" id="clothingTab" name="mytabs">
                <label for="clothingTab">Clothing <i class="fa-solid fa-triangle-exclamation"></i></label>
                <section class="tab">
                    <h2>Clothing</h2>
                    <main id="ClothingMain1">
                        <span>Coming Soon!</span>
                    </main>
                </section>

                
		</nav>
    </main>
<%- include('partials/footer') -%>